<div class="text-center">
    <h1 class="display-4">List Product</h1>
</div>

<table class="table" >
    <thead>
        <tr>
         
            <th scope="col">ProductName</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody id="ShopList">
       
    </tbody>
</table>



<script src="~/lib/microsoft-signalr/signalr.min.js"></script>

<script src="~/js/shopnotification/shopnotifications.js"></script>
